svg {
	font: 10px sans-serif;
}

body {
	font-family: sans-serif;
	margin: 20px
}

/* 
.dataPane {
	clear:both;
}

 */

/*****************************************************************************/
.vennCircle {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: .6;
	opacity: .6;
}

.vennCircle:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: .8;
	opacity: .8;
}
/*****************************************************************************/
.bar {
	fill: orange;
}

.bar:hover {
	fill: orangered ;
}
/*****************************************************************************/
.likertBar {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60);
	-moz-opacity: .6;
	opacity: .6;
}

.likertBar:hover {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: .8;
	opacity: .8;
}
/*****************************************************************************/
.axis path {
	display: none;
}

.axis line {
	shape-rendering: crispEdges;
	stroke: #000;
}

.axis .minor line {
	stroke: #777;
	stroke-dasharray: 2,2;
}
/*****************************************************************************/
/*tooltip*/
/*****************************************************************************/
.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

/********************************************************************************/
/*putting the quotes in circles and trying to line them up */
/********************************************************************************/
/* 
div.quoteCircles {
    border: 1px solid #000;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    text-align: center;
}

p.circle {
    width: 85%;
    height: 85%;
    margin: 35% auto 0 auto;
    
}

#loveQuote {
     background: #66A1D2;
     float: left;
     margin-left: 20px
}

#hateQuote {
	background: #25547B;
	margin: 0 auto;
}

#randomQuote {
	background: #043C6B;
	float: right;
	margin-right: 20px
}
 */

/********************************************************************************/
/*putting charts next to each other */
/********************************************************************************/
/* 
#highestPriority {
	float: left;
	margin-left: 50px;
}

#lowestPriority {
	float: right;
	margin-right: 50px;
}
 */