<!DOCTYPE html>
<html>
	<head>
		<title>Telegraph Avenue Use Survey Results, Revisualized</title>
		<link rel="stylesheet" type="text/css" href="telegraph/static/css/main.css">
		
	</head>
	<body>
		<h1>Telegraph Avenue: Usage, Opinions and Ideas</h1>
		<h2>Complete Streets Project survey results</h2>
		<p>The City of Oakland is currently undertaking the <a href="http://www2.oaklandnet.com/Government/o/PWA/o/EC/s/TelegraphAvenue/index.htm" target="_blank">Telegraph Avenue Complete Streets Project</a>,
		 the purpose of which is to "design Telegraph Avenue to be a better street for walking, bicycling, riding transit, 
		 and driving between 20th and the Berkeley border, with a focus on the area south of 57th Street." 
		 As a part of this project, the city surveyed 1,108 community members about how and how often they use 
		 Telegraph, how they feel about it, and how they think it should be improved. This website summarizes the results.</p>
		<div class="dataPane" id="opinion">
			<h3>Respondents Broadly Agree: Telegraph doesn't work very well for anyone, but bikes have it the hardest</h3>
			<form id="filter" action="/" method="POST"" method="POST">
				<label for="filterValue">See answers from Telegraph users who primarily: </label>
				<select name="filterValue">
					<option value="%">All</option>
  					<option value="'%Walking%'">Walk</option>
  					<option value="'%Driving%'">Drive</option>
  					<option value="'%ACT%' OR Mode1 LIKE '%BART%'">Ride transit</option>
  					<option value="'%Biking%'">Bike</option>
  					<option value="'%Other%'">Other</option>
				</select>
				<input type="submit" value="See the filtered data" name="filterButton">
			</form>
			<div id="currentlySuits">
				<h4>The current configuration suits...</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="highestPriority">
				<h4>What mode of transportation should have the highest priority?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="lowestPriority">
				<h4>What mode of transportation should have the lowest priority?</h4>
				<!--javascript will put stuff here-->
			</div>
		</div>
		<div class="dataPane" id="quotesPane">
			<h3>What people said</h3>
			<div id="randomQuotes">
				<p>The survey contained a few open text fields. Here's some of what people had to say.</p>
				<form id="refreshQuotes">
					<button>Give me new quotes</button>
				</form>
				<div id="quotes">
					
				</div>
			</div>
			<div id="mostProposed">
				<h4>The top 5 most commonly proposed ideas for improving Telegraph</h4>
				<h5>And the number of people who proposed them</h5>
				<ul>
					<li>More and/or more protected bike lanes: <em>445</em></li>
					<li>Pedestrian realm improvements such as wider sidewalks and more crosswalks: <em>397</em></li>
					<li>Improvements to bus stops: <em>125</em></li>
					<li>Improve pavement conditions: <em>115</em></li>
					<li>Promote awareness of bicyclists: <em>115</em></li>
				</ul>
			</div>
			<div id="conflictingOpinions">
				<h4>Not everyone agrees with each other</h4>
				<span id="antiCars">Ban cars on Telegraph: <em>3</em></span><span id="antiBikes">Ban bikes on Telegraph: <em>3</em></span>
				<span id="proParking">Create more parking: <em>29</em></span><span id="antiParking">Less parking: <em>7</em></span>
				<span id="ticketCars">Better traffic code enforcement of drivers: <em>34</em></span><span id="ticketBikes">Better traffic code enforcement of cyclists: <em>25</em></span>
			</div>
		</div>
		<div class="dataPane" id="respondents">
			<h3>Who answered the survey?</h3>
			<div id="useFrequency">
				<h4>How often do you use Telegraph?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="home">
				<h4>Where do you live?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="primaryTransit">
				<h4>What is your primary mode of transit?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="connectionToTele">
				<h4>What is your connection to Telegraph?</h4>
				<!--javascript will put stuff here-->
			</div>
		</div>
		<div id="footer">
			<p>Created by Lisa Jervis and Molly Robison in 2014 for Information Vizualization at the UC Berkeley ISchool.</p>
		</div>
		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="telegraph/static/js/venn.js"></script>
		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
		<script type="text/javascript" src="telegraph/static/js/main.js"></script>
	</body>
<html>
