<!DOCTYPE html>
<html>
	<head>
		<title>Telegraph Avenue Use Survey Results, Revisualized</title>
		<link rel="stylesheet" type="text/css" href="static/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Raleway:600|Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<h1>Telegraph Avenue: Usage, Opinions and Ideas</h1>
		<h2>Complete Streets Project survey results</h2>
		<p>The City of Oakland is currently undertaking the <a href="http://www2.oaklandnet.com/Government/o/PWA/o/EC/s/TelegraphAvenue/index.htm" target="_blank">Telegraph Avenue Complete Streets Project</a>,
		 the purpose of which is to "design Telegraph Avenue to be a better street for walking, bicycling, riding transit, 
		 and driving between 20th and the Berkeley border, with a focus on the area south of 57th Street." 
		 As a part of this project, the city surveyed 1,108 community members about how and how often they use 
		 Telegraph, how they feel about it, and how they think it should be improved. This website summarizes the results.</p>
		<hr/>
		<div class="dataPane" id="opinion">
			<h3>Respondents Broadly Agree: Telegraph doesn't work very well for anyone, but bikes have it the hardest</h3>
			<form id="filter" action="/telegraph/filtered" method="POST">
				<label for="filterValue">See answers from Telegraph users who primarily: </label>
				<select name="filterValue">
					<option value="'%'">All</option>
  					<option value="'%Walking%'">Walk</option>
  					<option value="'%Driving%'">Drive</option>
  					<option value="'%ACT%' OR Mode1 LIKE '%BART%'">Ride transit</option>
  					<option value="'%Biking%'">Bike</option>
  					<option value="'%Other%'">Other</option>
				</select>
				<input type="submit" value="See the filtered data" name="filterButton">
			</form>
			<div id="currentlySuits">
				<h4>The current configuration suits...</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="highestPriority", class="floatMe">
				<h4>What mode of transportation should have the highest priority?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="lowestPriority", class="floatMe">
				<h4>What mode of transportation should have the lowest priority?</h4>
				<!--javascript will put stuff here-->
			</div>
		</div>
		<hr/>
		<div class="dataPane" id="quotesPane">
			<h3>What people said</h3>
			<div id="randomQuotes">
				<p>The survey contained a few open text fields. Here's some of what people had to say.</p>
				<form id="refreshQuotes">
					<button>Give me new quotes</button>
				</form>
				<div id="quotes">
					
				</div>
			</div>
			<div id="mostProposed">
				<h4>The top 5 most commonly proposed ideas for improving Telegraph</h4>
				<h5>And the number of people who proposed them</h5>
				<ul>
					<li>More and/or more protected bike lanes: <em>445</em></li>
					<li>Pedestrian realm improvements such as wider sidewalks and more crosswalks: <em>397</em></li>
					<li>Improvements to bus stops: <em>125</em></li>
					<li>Improve pavement conditions: <em>115</em></li>
					<li>Promote awareness of bicyclists: <em>115</em></li>
				</ul>
			</div>
			<div id="conflictingOpinions">
				<h4>Not everyone agrees with each other</h4>
				<span id="antiCars">Ban cars on Telegraph: <em>3</em></span><span id="antiBikes">Ban bikes on Telegraph: <em>3</em></span>
				<span id="proParking">Create more parking: <em>29</em></span><span id="antiParking">Less parking: <em>7</em></span>
				<span id="ticketCars">Better traffic code enforcement of drivers: <em>34</em></span><span id="ticketBikes">Better traffic code enforcement of cyclists: <em>25</em></span>
			</div>
		</div>
		<hr/>
		<div class="dataPane" id="respondents">
			<h3>Who answered the survey?</h3>
			<div id="useFrequency", class="floatMe">
				<h4>How often do you use Telegraph?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="primaryTransit", class="floatMe">
				<h4>What is your primary mode of transit?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="home", class="floatMe">
				<h4>Where do you live?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="connectionToTele", class="floatMe">
				<h4>What is your connection to Telegraph?</h4>
				<!--javascript will put stuff here-->
			</div>
		</div>
		<hr/>
		<div id="footer">
			<p>Created by Lisa Jervis and Molly Robison in 2014 for Information Vizualization at the UC Berkeley ISchool.</p>
		</div>
		<script type="text/javascript" src="static/js/d3.v3.js"></script>
		<script type="text/javascript" src="static/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="static/js/venn.js"></script>
		<script type="text/javascript" src="static/js/d3.tip.js"></script>
		<script>
			//-----------------------------------------------------------------------------
			//Utility functions
			//-----------------------------------------------------------------------------

			function drawBarGraph(element, data){
				//TODO redraw if it already exists

				//split up the data into titles and values
				var dataset = [];
				var titles = [];
				for(var key in data){
					dataset.push(data[key]);
					titles.push(key);
				}

				var margin = {top: 20, right: 0, bottom: 20, left: 15},
					width = 350 - margin.left - margin.right,
					height = 300 - margin.top - margin.bottom;

				//set up some stuff for the axis
				var x = d3.scale.ordinal()
					.rangeRoundBands([0, width], .1);
				var y = d3.scale.linear()
					.range([height, 0]);
				var xAxis = d3.svg.axis()
					.scale(x)
					.orient("bottom");
				var yAxis = d3.svg.axis()
					.scale(y)
					.tickSize(width)
					.orient("right");

				//set up the tooltips
				var tip = d3.tip()
					.attr('class', 'd3-tip')
					.offset([-10, 0])
					.html(function(d, i) {
						return "<strong>" + titles[i] + "</strong> <span style='color:red'>" + dataset[i] + "</span>";
					});
				//make the svg element
				var svg = element.append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.append("g")
						.attr("transform", "translate(" + margin.left + "," + margin.top + ")");
				//I actually don't know what this does
				svg.call(tip);

				//fit the axes to the range of our data
				x.domain(titles);
				y.domain([0, d3.max(dataset)]);

				svg.append("g")
					.attr("class", "x axis")
					.attr("transform", "translate(0," + height + ")")
					.call(xAxis);

				var gy = svg.append("g")
					.attr("class", "y axis")
					.call(yAxis);

				gy.selectAll("g").filter(function(d) { return d; })
					.classed("minor", true);

				gy.selectAll("text")
					.attr("x", -6)
					.attr("dy", -4);

				//make the bars
				svg.selectAll(".bar")
					.data(dataset)
					.enter().append("rect")
						.attr("class", "bar")
						.attr("x", function(d, i) { return x(titles[i]); })
						.attr("width", x.rangeBand())
						.attr("y", function(d) { return y(d); })
						.attr("height", function(d) { return height - y(d); })
					.on('mouseover', tip.show)
					.on('mouseout', tip.hide);
			}
			//-----------------------------------------------------------------------------

			function currentlySuits(){
				//the likert scale viz
				var element = d3.select("#currentlySuits");

				var cats = ["Strongly Disagree", "Disagree", "Neutal/No Answer", "Agree", "Strongly Agree"];
				var data = {{currentlySuitsData|tojson|safe}};
// 				console.log(data);
// 				for (var key in data) {
// 					console.log(data[key]);
// 				}

				var labels = data.map(function(d) {return d.key;});

				var n = 5, // number of layers
					m = data.length, // number of samples per layer
					stack = d3.layout.stack();

				//go through each layer, that's the range(n) part
				//then go through each object in data and pull out that objects's population data
				//and put it into an array where x is the index and y is the number
				var layers = stack(d3.range(n).map(function(d) { 
					var a = [];
					for (var i = 0; i < m; ++i) {
						a[i] = {x: i, y: data[i].values[d], key:data[i].key};  
					}
					return a;
				}));

				//the largest single layer
				var yGroupMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y; }); });
				//the largest stack
				var yStackMax = d3.max(layers, function(layer) { return d3.max(layer, function(d) { return d.y0 + d.y; }); });

				var margin = {top: 0, right: 60, bottom: 20, left: 80},
					height = 373 - margin.top - margin.bottom;
				var width = 800 - margin.left - margin.right;
				if(window.innerWidth > 800){
					width = (window.innerWidth-100) - margin.left - margin.right;
				}
				var y = d3.scale.ordinal()
					.domain(labels)
					.rangeRoundBands([2, height], .08);

				//labels
				var yAxis = d3.svg.axis()
					.scale(y)
					.orient("left");

				var x = d3.scale.linear()
					.domain([0, yStackMax])
					.range([0, width-80]);

				var color = ["#CC0000", "#FF5050", "#FFFF66", "#19D119", "#009933"];

				var svg = element.append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.append("g")
						.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

				var layer = svg.selectAll(".layer")
					.data(layers)
					.enter().append("g")
						.attr("class", "layer")
						.style("fill", function(d, i) { return color[i]; });

				var bar = layer.selectAll("g")
					.data(function(d) { return d; })
					.enter().append("g");

				bar.append("rect")
					.attr("y", function(d) { return y(d.key); })
					.attr("x", function(d) { return x(d.y0); })
					.attr("height", y.rangeBand())
					.attr("width", function(d) { return x(d.y); })
					.attr("class", "likertBar");

				bar.append("text")
					.attr("x", function(d) { return x(d.y0) + 5; })
					.attr("y", function(d) { return y(d.key) + 10})
					.attr("dy", ".35em")
					.attr("font-family", "sans-serif")
					.attr("fill", "black")
					.text(function(d) { return d.y; });

				svg.append("g")
					.attr("class", "y axis")
					.call(yAxis);

				// Draw legend
				var legend = svg.append("g")
					.attr("class", "legend")
					.attr("height", 100)
					.attr("width", 100)
					.attr('transform', 'translate(-20,50)');

				var legendRect = legend.selectAll('rect').data(color);

				legendRect.enter()
					.append("rect")
					.attr("x", width - 30)
					.attr("width", 10)
					.attr("height", 10);

				legendRect
					.attr("y", function(d, i) {
						return i * 20;
					})
					.style("fill", function(d) {
						return d;
					});

				var legendText = legend.selectAll('text').data(cats);

				legendText.enter()
					.append("text")
					.attr("x", width - 10);

				legendText
					.attr("y", function(d, i) {
						return i * 20 + 9;
					})
					.text(function(d) {
						return d;
					});
 
			}//function

			function highestPriority(){
				//bar graph of highes priority
				var data = {{highestPriorityData|tojson|safe}};
				var element = d3.select("#highestPriority");
				drawBarGraph(element, data);
			}

			function lowestPriority(){
				//bar graph of lowest priority
				var data = {{lowestPriorityData|tojson|safe}};
				var element = d3.select("#lowestPriority");
				drawBarGraph(element, data);
			}


			//--------------------------------------------------------------------------

			function quotes(){
				var data = {{quoteData|tojson|safe}};
// 				var data = ["I sure do love that one thing and also this is a really long quote oh boy this quote is so long it's gotta be the longest quote I've ever seen", "I'm not too fond of that other thing", "It would be great if you'd do this third thing"];
				//TODO not all by pixel
				var headlines = ["Here's what one respondant likes about Telegraph:", "Here's what another respondant wishes were different:", "And here's an idea from yet another respondant:"];
				var margin = {left: 20, right: 20, top: 10, bottom: 0};
				var width = 800 - margin.left - margin.right;
				if(window.innerWidth > 800){
					width = (window.innerWidth-100) - margin.left - margin.right;
				}

				var xs = [];
				var r = width/8;
				var d = r*2;
				var pad = Math.floor((width-(3*d))/2);
				var headHeight = 100;
				var innerSide = d * Math.cos(Math.PI / 4);
				var dx = r - innerSide / 2;
				var height = d + headHeight - margin.top - margin.bottom;

				for(var i=0; i<3; i++){
					var x = r;
					if(i>0){
						x += (xs[i-1] + r + pad);
					}
					xs.push(x);
				}

				var svg = d3.select("#quotes").append("svg")
					.attr("width", width + margin.left + margin.right)
					.attr("height", height + margin.top + margin.bottom)
					.append("g")
						.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

				/* Define the data for the circles */
				var blocks = svg.selectAll("g")
					.data(data)
					.enter()
					.append("g")
					.attr("transform", function(d, i){return "translate("+xs[i]+", "+r+")"});

				/*Create and place "blocks" containing the circle and the text */   
				var circle = blocks
					.append("g")
					.attr("transform", function(d, i){
						return "translate(0, " +headHeight+")"});
		
				/*Create the circle for each block */
				circle.append("circle")
					.attr("r", r)
					.attr("fill", "darkCyan");

				/* Create the text for each block */
				circle.append("foreignObject")
					.attr("x", -80)
					.attr("y", -40)
					.attr("width", innerSide)
					.attr("height", innerSide)
					.append("xhtml:body")
						.style("font", "12pt sans-serif")
						.html(function(d){return d});

				//the titles
				blocks.append("foreignObject")
					.attr("width", d+60)
					.attr("height", headHeight)
					.attr("x", -100)
					.attr("y", -100)
					.append("xhtml:body")
						.style("font", "14pt sans-serif")
						.html(function(d, i){return headlines[i];});
			}

			//--------------------------------------------------------------

			function useFrequency(){
				//bar chart of use frequency
				var data = {{useFrequencyData|tojson|safe}};
				var element = d3.select("#useFrequency");
				drawBarGraph(element, data);
			}

			function home(){
				//bar chart of home location
				var data = {{homeData|tojson|safe}};
				var element = d3.select("#home");
				drawBarGraph(element, data);
			}

			function primaryTransit(){
				//bar chart of primary transit
				var data = {{primaryTransitData|tojson|safe}};
				var element = d3.select("#primaryTransit");
				drawBarGraph(element, data);
			}

			function connectionToTele(){
				//venn diagram
				var data = {{connectionToTeleData|tojson|safe}};
				var sets = data[0],
					overlaps = data[1];

				// get positions for each set
				sets = venn.venn(sets, overlaps);

				// draw the diagram
				var diagram = venn.drawD3Diagram(d3.select("#connectionToTele"), sets, 300, 300, {opacity: 0.9});
			}
			//------------------------------------------------------------
			//main
			//------------------------------------------------------
			currentlySuits();
			highestPriority();
			lowestPriority();
			quotes();
			useFrequency();
			home();
			primaryTransit();
			connectionToTele();

		</script>
	</body>
<html>
