<!DOCTYPE html>
<html>
	<head>
		<title>Telegraph Survey</title>
		<link rel="stylesheet" type="text/css" href="telegraph/static/css/main.css">
		
	</head>
	<body>
		<h1>Title title title</h1>
		<h2>Subtitle subtitle subtitle</h2>
		<p>copy copy copy</p>
		<div class="dataPane" id="opinion">
			<h3>Title title</h3>
			<form >
				
			</form>
			<div id="currentlySuits">
				<h4>The current configuration suits...</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="highestPriority">
				<h4>What mode of transportation should have the highest priority?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="lowestPriority">
				<h4>What mode of transportation should have the lowest priority?</h4>
				<!--javascript will put stuff here-->
			</div>
		</div>
		<div class="dataPane" id="quotes">
			<h3>What people said</h3>
			<div id="randomQuotes">
				<h4>Title here</h4>
				<form id="refreshQuotes">
					<button>Refresh</button>
				</form>
				<div id="loveQuote">
					<h5>Love</h5>
					<!--javascript will put stuff here-->
				</div>
				<div id="hateQuote">
					<h5>Hate</h5>
					<!--javascript will put stuff here-->
				</div>
				<div id="randomQuote">
					<h5>Random</h5>
					<!--javascript will put stuff here-->
				</div>
			</div>
			<div id="mostProposed">
				<h4>Most Proposed</h4>
				<ul>
					<li>Give everyone free ice cream: <em>400</em></li>
					<li>Train kittens as traffic conductors: <em>350</em></li>
					<li>Replace ACT with Catbus: <em>300</em></li>
					<li>Hire Morgan Freeman to read driving instructions: <em>250</em></li>
					<li>Replace sidewalks with trampolines: <em>200</em></li>
				</ul>
			</div>
			<div id="leastProposed">
				<h4>Least Proposed</h4>
				<ul>
					<li>Prohibit ice cream: <em>5</em></li>
					<li>Charge a toll for pedestrians: <em>4</em></li>
					<li>Establish thought police: <em>3</em></li>
					<li>Ban pizza: <em>2</em></li>
					<li>Replace sidewalks with hot coals: <em>1</em></li>
				</ul>
			</div>
			<div id="conflictingOpinions">
				<h4>Conflicting Opinions</h4>
				<span id="proBikes">Establish more bike lanes: <em>400</em></span><span id="antiBikes">Prohibit bikes: <em>3</em></span>
				<span id="proParking">More parking: <em>400</em></span><span id="antiParking">Less parking: <em>3</em></span>
			</div>
		</div>
		<div class="dataPane" id="respondents">
			<h3>Who answered the survey?</h3>
			<div id="useFrequency">
				<h4>How often do you use Telegraph?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="home">
				<h4>Where do you live?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="primaryTransit">
				<h4>What is your primary mode of transit?</h4>
				<!--javascript will put stuff here-->
			</div>
			<div id="connectionToTele">
				<h4>What is your connection to Telegraph?</h4>
				<!--javascript will put stuff here-->
			</div>
		</div>
		<div id="footer">
			<p>Created by Lisa Jervis and Molly Robison in 2014 for Information Vizualization at the UC Berkeley ISchool.</p>
		</div>
		<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<script type="text/javascript" src="telegraph/static/js/venn.js"></script>
		<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
		<script type="text/javascript" src="telegraph/static/js/main.js"></script>
	</body>
<html>
